@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');

.flbx{
  visibility: hidden;
  height: 80px;
  width: 350px;
  border: 2px solid rgb(100, 100, 100);
  background-color: rgb(224, 255, 68);
  border-radius: 50px ;
}
.flbx1{
  visibility:none;
  height: 80px;
  width: 350px;
  border: 2px solid rgb(100, 100, 100);
  background-color: rgb(224, 255, 68);
  border-radius: 50px ;
}
.clbx{
  visibility: hidden;
}
.clbx1{
  visibility:none;
}
body {
  margin: 0;
  background-image: linear-gradient(to bottom, rgb(243, 219, 219), rgb(242, 245, 210), rgb(210, 220, 240), 
  rgb(246, 215, 242), rgb(222, 245, 230));
  background-size: 100%;
  background-repeat:no-repeat ;
  height: 100vh;
}
.txtshdw{
  text-shadow: 2px 2px 8px rgb(246, 17, 17);
  margin-top: 10px;
}
.bttno{
  height: 80px;
  width: 350px;
  border: 2px solid rgb(100, 100, 100);
  background-color: rgb(224, 255, 68);
  border-radius: 50px ;
  text-align: center;
}
button:hover{
  background-color: rgb(255, 105, 105);
}
.mrgbt{
  margin: 50px 150px;
}
#bttno1{
  height: 400px;
  width: 500px;
  border: 4px solid rgb(255, 0, 0);
  background-color: rgb(224, 255, 68);
  border-radius: 80px ;
  text-align: center;
}
#bttno2{
  height: 400px;
  width: 500px;
  border: 4px solid rgb(255, 0, 0);
  background-color: rgb(224, 255, 68);
  border-radius: 80px ;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
